//Fonts
$largeFontSize: 2.25rem; //36px
$largeFontSize1: 2rem; //32px
$largeFontSize2: 1.75rem; //28px
$mediumFontSize: 1.5rem; //25px
$mediumFontSize1: 1.25rem; //20px
$normalFontSize: 1.12rem; //18px
$smallFontSize: 0.93rem; //15px
$smallFontSize1: 0.75rem; //12px

//Colors
$whiteColor: #ffffff;
$yellowColor: #FEE738;


//Animation
$animDelay: .5s;


